.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  margin-bottom: 1rem;
  background-color: #263238;
  color: #ffffff;
  padding: 0.5rem;
}

.header-title-row {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.main {
  padding: 0 1em;
  margin-bottom: 1em;
  flex: 1 1 auto;
  min-height: 0;
  overflow: auto;
}

.nav {
  display: flex;
  justify-content: space-around;
}

.nav-list-item {
  flex: 1 0 1px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  white-space: nowrap;
}
.nav-list-item:last-of-type {
  border-right: none;
}

.header-user-avatar {
  flex: 0 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-user-avatar-img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1.5rem;
}

.header-title {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.header-logout-button {
  flex: 0 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-logout-button-svg {
  width: 1.5rem;
  height: 1.5rem;
  color: #fff;
}

.nav-link {
  color: #fff;
  filter: grayscale(100%);
  transition: filter 500ms ease-in-out;
  cursor: pointer;
}

.nav-link-active {
  color: #1da1f2;
  filter: grayscale(0%);
}

.nav-link-svg {
  width: 2rem;
  height: 2rem;
  fill: currentColor;
}

.create-link {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  padding: 0.75rem;
  border-radius: 3rem;
  background: #eceff1;
}

.new-form {
}

.new-form-section {
  margin-bottom: 1rem;
}

.new-form-section-header {
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0.5rem;
}
.new-form-section-header > * {
  margin-right: 1rem;
}
.new-form-section-header > *:last-child {
  margin-right: 0;
}

.new-form-section-header-types {
  align-items: flex-start;
  justify-content: space-around;
}

.new-form-section-header-svg {
  width: 1.25rem;
  height: 1.25rem;
  flex: 0 0 1.25rem;
}

.new-form-section-header-spacer {
  flex: 1 0 auto;
}

.new-form-date-time-input {
  flex: 1 1 auto;
}

.new-form-type-svg {
  width: 3rem;
  height: 3rem;
  margin: 0.5rem 0;
  filter: grayscale(100%);
  transition: filter 500ms ease-in-out;
}

.new-form-type-svg-active {
  filter: grayscale(0%);
}

.new-form-radio-label {
  flex: 0 1 auto;
  padding: 0.25rem;
  display: flex;
  align-items: center;
}

.new-form-input {
  width: 100%;
  margin-bottom: 0.5rem;
}

.new-form-textarea {
  width: 100%;
}

.new-form-add-ingredient-button {
  background: #ddd;
  color: #333;
  -webkit-appearance: none;
  border: none;
  padding: 0.25rem 0.5rem;
}

.new-form-save-button {
  width: 100%;
  background-color: #00c853;
  color: #fff;
  -webkit-appearance: none;
  border: none;
  padding: 0.5rem 1rem;
}

.new-form-delete-button {
  width: 100%;
  background-color: #dd2c00;
  color: #fff;
  -webkit-appearance: none;
  border: none;
  padding: 0.5rem 1rem;
}

.new-form-cancel-button {
  width: 100%;
  background-color: #ddd;
  color: #333;
  -webkit-appearance: none;
  border: none;
  padding: 0.5rem 1rem;
}

.new-form-rating-radio-label {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-form-rating-svg {
  width: 3rem;
  height: 3rem;
  margin-bottom: 0.5rem;
  filter: grayscale(100%);
  transition: filter 500ms ease-in-out;
}
@media screen and (max-width: 360px) {
  .new-form-rating-svg {
    width: 2rem;
    height: 2rem;
  }
}

.new-form-rating-svg-active {
  filter: grayscale(0%);
}

.nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.entry-type-svg {
  width: 1rem;
  height: 1rem;
  margin-right: 0.25rem;
  fill: #1da1f2;
}

.list-entry {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2rem;
  margin-bottom: 1rem;
}
.list-entry-title {
  min-width: 0;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}
.list-entry-time {
  flex: 0 0 80px;
  text-transform: lowercase;
}
.list-entry-date {
  flex: 0 0 70px;
}
.list-entry-rating-icon {
  flex: 0 0 auto;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}

.loading-spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.loading-spinner-svg {
  width: 5rem;
  height: 5rem;
}

.sign-in-screen {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-in-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 0.5rem;
  border-radius: 0.25em;
  font-weight: bold;
  background-color: #4285f4;
  color: #ffffff;
}

.sign-in-icon {
  margin-right: 0.5rem;
}
