.app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  margin-bottom: 1rem;
  background-color: #263238;
  color: #ffffff;
  padding: 0.5rem;
}

.header-title-row {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.main {
  margin: 0 1em 1em 1em;
  flex: 1 1 auto;
  min-height: 0;
  overflow: auto;
  position: relative;
}

.nav {
  display: flex;
  justify-content: space-around;
}

@media (orientation: portrait) {
  .header {
    /* iPhone X: iOS 11.1 */
    padding-top: constant(safe-area-inset-top);
    /* iPhone X: iOS 11.2+ */
    padding-top: env(safe-area-inset-top);
  }
}

@media (orientation: landscape) {
  .header,
  .main,
  .nav {
    /* iPhone X: iOS 11.1 */
    padding-left: constant(safe-area-inset-left);
    padding-right: constant(safe-area-inset-right);
    /* iPhone X: iOS 11.2+ */
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
}

.header-user-avatar {
  flex: 0 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-user-avatar-img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1.5rem;
}

.header-title {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #78909c;
  transition: color 500ms ease-in-out;
}

.header-title-active {
  color: #ffffff;
}

.header-logout-button {
  flex: 0 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-logout-button-svg {
  width: 1.5rem;
  height: 1.5rem;
  color: #fff;
}

.nav-link {
  color: #fff;
  filter: grayscale(100%);
  transition: filter 500ms ease-in-out;
  cursor: pointer;
}

.nav-link-active {
  color: #1da1f2;
  filter: grayscale(0%);
}

.nav-link-svg {
  width: 2rem;
  height: 2rem;
  fill: currentColor;
}

.new-form {
}

.nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.entry-type-svg {
  width: 1rem;
  height: 1rem;
  margin-right: 0.25rem;
  fill: #1da1f2;
}

.flex-icon-left {
  flex: 0 0 auto;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}
.flex-icon-right {
  flex: 0 0 auto;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.5rem;
}

.sign-in-screen {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.sign-in-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 0.5rem;
  border-radius: 0.5em;
  margin-bottom: 1rem;
  padding: 1rem;
  cursor: pointer;
}

.sign-in-icon {
  margin-right: 0.5rem;
  width: 2rem;
  height: 2rem;
}

.summary-container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.summary-auto-sizer-wrapper {
  flex: 1 1 auto;
}
